body,html{
  margin: 0;
  background-color:#f7ececf4 ;
  font-family: poppins;
  height: 900px;
  width: 100%;
}



h1 {
  text-align: center;
  color: #000000;
 margin: 0;
}

h2 {
  margin-top: 30px;
  color: #555;
}

.order-card {

  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color:#7f210e95;
  font-family: poppins;

}

.order-card h3 {
  color: #222;
}

.order-card p {
  color: #666;
  font-style: normal;
}

.content{
  background-color:#e7bebefd ; 
}


#navb{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 

}






/*content*/


/* SHOW SORTABLE ICON ON HOVER OF TH */
table.dataTable thead th.sorting:hover:after {
  opacity: 1;
  transform: translate(0);
}

/* OVERRIDES FOR SORT ICON FROM DATABLES */
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  font-family: FontAwesome;
  position: relative !important;
  display: inline-block !important;
  font-size: 14px !important;
  top: unset !important;
  right: unset !important;
  content: "\f062" !important;
  transform-origin: center center;
  transition: 200ms ease-out;
  padding-top: 0 !important;
}

/* DEFAULT SORT ICON COLOR AND PLACEMENT */
table.dataTable thead th.sorting:after {
  transform: translateY(5px);
  opacity: 0;
  color: #b0bec5 !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  margin-left: 10px;
}

table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  color: #4285f4;
}

/* SORTING DESC ICON ANIMATION */
table.dataTable thead th.sorting_desc:after {
  transform: rotate(180deg);
}

/* REMOVING STYLES FROM ORDEROPTIONS.CSS THAT WE CAN REMOVE */
table.dataTable thead th.sorting_desc:before,
table.dataTable thead th.sorting_asc:before {
  display: none;
}


.pb-5{
  background-color: #eddcd98a;
  padding: 50px;
  height: 100%;
}

#headOrd{

  height: 60px;
  width: 50%;
  justify-content: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;

  background: linear-gradient(to left,
                    rgb(205, 156, 156),
                    rgb(229, 163, 139),
                    rgb(208, 139, 122),
                    rgb(231, 172, 160),
                    rgb(226, 135, 135),
                    rgb(220, 158, 146),
                    rgb(239, 213, 207));

            background-color: #c28686bf;
           color: rgb(68, 65, 65);
}

#headOrd h1{
  margin: 0;
}



/*----------------------------Ribbon Heading--------------------------*/
